main{
  display:flex;
  justify-content: center;
  align-items: center;
} 
 
  img{
  
    max-width: 200px;
    margin-top: 200px;
    margin-left:110px;
  }
  /*inicio do botao  */
  button{
    padding: 18px;
    margin: 10px;
    border-radius: 10px;
    background-color:#FF0000;
    color: #fff;
    box-shadow:5px 5px 10px rgba(0, 0, 0, 0.5);
   cursor: pointer;
   width: 400px;
    
  }
  
  .informacoes-btn {
    display: flex;
    justify-content: center;
    padding: 15px;
    margin: 8px;
    font-size: 20px;
    font-family: sans-serif;
    border-radius:5px;
    border: 1px solid  #000 ;
    }
  
 /*fim do botao*/
  
 /*texto inicio*/
  .texto-do-produtos{
    
    display: flex;
    margin-bottom:50px;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}
.texto-do-produtos{
  gap: 10px;
}

.acesso{ /* problem de acesso*/
    position: relative;
    padding: 2px;
    left: 243px;
}

.texto {
  margin-top: 20px;
  display: flex;
  padding: 10px;
  margin-left:40px;
  letter-spacing: 1px;
  align-items: Center;
  font-family:  Helvetica, sans-serif;
}
a{
  
color: #FF0000;
  margin-left: 10px;
  text-decoration: none;
}
/*fim dos textos */

/*caixa de email e senha, esta estilizando os dois */
input{
     border-color:none ;
     display: flex;
     flex-direction: column;
     width: 94%;
     margin: 10px;
     outline: none;
     height:50px;
     border-radius: 5px;
   }
   
   
  input::placeholder{
    
  font-style: italic;
  text-indent: 10px;
    } 
    /*aqui esta estilizando a borda do input */
   div.formulario input:focus{
    border: 3px solid #FF0000;
    transition: border 0.3s;
   }
 
